** USE THE CONCEPT OF LOOP TO SOLVE TEHE BELOW QUIRIES **

  1) Print the first 10 natural numbers using for loop.

In [1]:
#Write your code here
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

2) Python program to print all the even numbers within the given range.

Range = 0 to 100

In [2]:
#Write your code Here
for i in range(0, 101, 2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

3) Python program to calculate the sum of all numbers from 1 to a given number.

Given Range = 15

In [3]:
#Write your Code Here
given_range = 15
total_sum = sum(range(1, given_range + 1))
print(total_sum)

120

4) Python program to calculate the sum of all the odd numbers within the given range.

Given Range = 10

In [4]:
# Write your code Here
given_range = 10
odd_sum = sum(i for i in range(1, given_range + 1, 2))
print(odd_sum)

25

5) Python program to print a multiplication table of a given number

given number = 5

In [5]:
# Write your code here
given_number = 5
for i in range(1, 11):
    print(f"{given_number} x {i} = {given_number * i}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50