*** USE THE CONCEPT OF FUNCTIONS TO SOLVE THE BELOW PROGRAMMING QUESTIONS ***

1) Write a Python function to sum all the numbers in a list.

Sample List : (8, 2, 3, 0, 7)

Expected Output : 20

In [1]:
#WRITE YOUR CODE HERE
def sum_list(numbers):
    return sum(numbers)

sample_list = (8, 2, 3, 0, 7)
print(sum_list(sample_list))

20

2) Write a Python function to multiply all the numbers in a list.

Sample List : (8, 2, 3, -1, 7)

Expected Output : -336

In [2]:
#WRITE YOUR CODE HERE
def multiply_list(numbers):
    result = 1
    for num in numbers:
        result *= num
    return result

sample_list = (8, 2, 3, -1, 7)
print(multiply_list(sample_list))

-336

3) Write a Python program to reverse a string.

Sample String : "1234abcd"

Expected Output : "dcba4321"

In [3]:
def reverse_string(s):
    return s[::-1]

sample_string = "1234abcd"
print(reverse_string(sample_string))

dcba4321

4) Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [4]:
#WRITE YOUR CODE HERE
def factorial(n):
    if n == 0 or n == 1:
        return 1
    result = 1
    for i in range(2, n + 1):
        result *= i
    return result

# Example usage
num = 5
print(factorial(num))

120

5) Write a Python function to check whether a number falls within a given range.

In [5]:
#WRITE YOUR CODE HERE
def is_within_range(number, start, end):
    return start <= number <= end

# Example usage
num = 10
range_start = 5
range_end = 15
print(is_within_range(num, range_start, range_end))

True